<a href="https://colab.research.google.com/github/2403a53044/sample/blob/main/missingvalues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as m
a={"patientid":[1,2,3,4,5],
   "Age":[25,30,None,40,50],
   "BP":[120,None,118,140,None]}
df=m.DataFrame(a)
print(df)

   patientid   Age     BP
0          1  25.0  120.0
1          2  30.0    NaN
2          3   NaN  118.0
3          4  40.0  140.0
4          5  50.0    NaN

In [4]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['BP'].fillna(df['BP'].mean(),inplace=True)
print(df)

   patientid    Age     BP
0          1  25.00  120.0
1          2  30.00  126.0
2          3  36.25  118.0
3          4  40.00  140.0
4          5  50.00  126.0

/tmp/ipython-input-2646810491.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)
/tmp/ipython-input-2646810491.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BP'].fillna(df['BP'].mean(),inplace=True)

In [5]:
import pandas as m
a={"bp":[120,None,None,125,None,130]}
df=m.DataFrame(a)
df['bp'].fillna(method='ffill',inplace=True)
print(df)

      bp
0  120.0
1  120.0
2  120.0
3  125.0
4  125.0
5  130.0

/tmp/ipython-input-1688760670.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bp'].fillna(method='ffill',inplace=True)
/tmp/ipython-input-1688760670.py:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['bp'].fillna(method='ffill',inplace=True)

In [12]:
sales=m.DataFrame({
    "orderid":[101,102,103,101],
    "product":['mobile','laptop','table','mobile'],
    "amount":[10000,20000,30000,10000]
})

print(sales)
print(sales.duplicated())
sales_df=sales.drop_duplicates()
print(sales_df)

   orderid product  amount
0      101  mobile   10000
1      102  laptop   20000
2      103   table   30000
3      101  mobile   10000
0    False
1    False
2    False
3     True
dtype: bool
   orderid product  amount
0      101  mobile   10000
1      102  laptop   20000
2      103   table   30000

In [13]:
a=df.dropna()
print(a)

      bp
0  120.0
1  120.0
2  120.0
3  125.0
4  125.0
5  130.0