<a href="https://colab.research.google.com/github/2403a53044/sample/blob/main/sample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [7]:
a=(56,"manoj",25,50)
print(a)

(56, 'manoj', 25, 50)

In [11]:
student = {"name": "Manoj", "age": 20}
student["age"] = 21
student["grade"] = "A"
print(student)

{'name': 'Manoj', 'age': 21, 'grade': 'A'}

In [12]:
# List
fruits = ["apple", "banana", "cherry"]
fruits.append("mango")
print("List:", fruits)

# Tuple
colors = ("red", "green", "blue")
print("Tuple:", colors, "| First:", colors[0])

# Dictionary
student = {"name": "Manoj", "age": 20}
student["grade"] = "A"
print("Dictionary:", student)

List: ['apple', 'banana', 'cherry', 'mango']
Tuple: ('red', 'green', 'blue') | First: red
Dictionary: {'name': 'Manoj', 'age': 20, 'grade': 'A'}